.div1 {
    display: inline-block;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 300px;
}

.gfx {
    color :red;
}
.nav1 {
    display: inline-block;
    padding:10px 10%;
   
}
.nav {
    color:rgba(0, 0, 0, 0.594);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 550;
    text-decoration: none;
    letter-spacing: 3px;
    word-wrap: wrap;
    word-spacing: 10px;
    position: relative;
    margin-left: 5px;
    margin-right: 40px;
    transition: 0.3s;

}

.nav:hover {
    color: red;
    
}

 


.header-logo {
    display: inline-block;
}
.logo {
    height: 30px;
    border-radius: 50px;
    display: inline;
    position: relative;
    cursor: pointer;
    
}
.text {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 280px;
    padding-left:400px;
    display: inline-block;
}



