/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
}

/* LOGO AND IMAGE */
#logo {
 margin: 3px 5px;
}


#logo img {
    height: 56px;
   margin: 3px 6px;

}

body {
    margin: 0;
}
/* List Styling */
#navbar {
    position: relative;
    background-color:white;
    box-shadow: 1px 1px 1px #60606038;
    height: 50px;
}
#navbar ul {
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
   
   
   
}

#navbar ul li a {
    display: block;
    padding:  3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   font-size: 17px;
    transition: 0.5s;
    left: 300px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ff1100;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 70%;

}

.heading {
    display: inline-block;
    position: absolute;
    top: 380px;
    left: 680px;
    
}
.h1 {
    
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    justify-content: space-between;    
}

.h2 {
    position:absolute;
    display: inline;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    margin-top: 5px;
    
}

.h3 {
    position:absolute;
    display: inline;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 50px;
    margin-top: 25px;   
}
.h4 {
    position:absolute;
    display: inline;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 50px;
    margin-top: 65px; }


    .spn {
    color: red;
}

/* images */

.img1 {
    display: inline-block;
    position: absolute;
    height: 25px;
    left: 20px;
    margin-top: 20px;   
}

.img2 {
    display: inline-block;
    position: absolute;
    height: 25px;
    left: 20px;
    margin-top: 61px;  
}

.img3 {
    display: inline-block;
    position: relative;
    height: 420px;
    right: 550px;
    bottom: 250px;
    
     
}
.heading1 {
    display: inline-block;
    position: relative;
}


.p2 {
    display: inline-block;
    position: absolute;
}

.h5 {
    display: inline;
    position: absolute;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    justify-content: space-between;  
    top: 800px;  
    left: 50px;
}

.spn2{
    color: red;
}

.h7 {
    display: inline;
    position: relative;
    color: rgb(51, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;  
    top: 920px;  
    left: 50px;
}

.p3 {
    display: inline-block;
    position: absolute;
}

.img7{
    height: 600px;
    display: inline-block;
    position: relative;
   top: 600px;
   left: 700px;
}